body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}
h1, h2 {
  color: red;
}
nav a {
  color: #ff4444;
  text-decoration: none;
  margin: 0 10px;
}
button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  }
